.carta-negra {
    font-size: 80px;
    color:black;
}
.carta-roja{
    font-size: 80px;
    color: rgb(255, 0, 0);
}

body{
background-color: rgb(0, 184, 0);
    /*padding: 5px,auto;grid-auto-flow:auto;*/
}
.imgHeader{
    display:flex;
    font-size: 80px;
    justify-content:left;
    text-align:left;
}
.number{
      display: flex;
      font-size: 120px;
      /*text-align: center;*/
      justify-content: center;
      align-content: center;  
  }

  .rotated {
    transform-origin: center;
    transform: rotate(180deg); /* Equal to rotateZ(45deg) */
    /*background-color: pink;*/
    font-size: 80px; 
  }

  #mainBox {
    display: flex;
    /*display: inline-block;*/
    height: 500px;
    width: 300px;
    border-radius: 10px / 10px;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    flex-wrap: column;
    justify-content: center;
    align-content: center; 
    vertical-align: middle;
    margin-top: 130px;
    margin-left: 660px;
    /*margin: 8rem 4rem 10rem 4rem;*/
  }

  #carta {
    display:block;
  }

  #origin {
    display:flex;
    flex-direction: column;
    flex-wrap: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  } 
  
  #container {
    display: flex;
    /*display: inline-block;*/
    height: auto;
    width: auto;
    border-radius: 10px / 10px;
    background-color: rgb(102, 97, 97);
    flex-direction: column;
    flex-wrap: column;
    justify-content: center;
    align-content: center; 
    vertical-align: middle;
  }
